
<p>
    <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle();switchCarosello()" [attr.aria-expanded]="!isCollapsed">
     {{isCollapsed}}
    </button>

    <button type="button" class="btn btn-outline-primary" (click)="collapse2.toggle();switchCarosello()" [attr.aria-expanded]="!isCollapsed2">
        {{isCollapsed2}}
      </button>
      
  </p>

  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
      <div class="card-body">
       Primo carosello
      </div>
    </div>
  </div>

  <div #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
    <div class="card">
      <div class="card-body">
      Secondo carosello
      </div>
    </div>
  </div>

<div class="row mt-5">
    <div class="py-4 d-flex justify-content-center">
        <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
            
                <div class="card p-2 m-2" style="width: 15rem;" *ngFor="let item of this.popularFilm">
      
                  <a [routerLink]="['/singlefilm', item.id]"> <img class="card-img-top" src="{{preurl}}{{item.img}}" alt="Card image cap">
                  
                  </a>
                    <div class="card-body">   
                       <h5 class="card-title">{{item.original_title}}</h5> 
                     
                          <strong style="color: green;">Vote:</strong> <strong>{{item.vote_average}}</strong>
                           <button  class="btn btn-success rounded-pill mt-2">Prenota un ticket</button>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>



  
