<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-around">

  <a class="navbar-brand" href="#">
    <h1>Cinema</h1>
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav   mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Film</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offerte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chi siamo</a>
        </li>

      </ul>
    </div>
  </div>
  <div>
  </div>



</nav>